*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

/*
    RESET
*/

input{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none
}

header{
    background-color: rgb(40, 78, 40);
    height: 200px;
 
}

.container{
    width: 1200px;
    margin: -100px auto; 
    height: 1000px;
    display: flex;
}

img{
    max-height: 100%;
}


/*
    UTILITY
*/


.bg-gray{
    background-color: gray;
}

.block{
    display: block;
}

.flex{
    display: flex;
}

.j-s{
    justify-content: start;
}

.j-e{
    justify-content: end;
}

.j-b{
    justify-content: space-between;
}

.j-c{
    justify-content: center;
}

.a-c{
    align-items: center;
}

.btn-search{
    height: 100%;
    width: 50px;
}

.input-search{
    width: 100%;
}

.fa-ellipsis-vertical{
   margin-right: 20px;
   color: gray;
}

.fa-bell-slash{
    color:rgb(122, 169, 255);
    font-size: 20px;
    aspect-ratio: 1,1;
    padding: 10px;
}

.messages-received{
    background-color: pink;
    padding: 10px;
    border-radius: 8px;
    align-self: flex-start;
    margin: 10px;
}

.messages-sent{
    background-color: green;
    padding: 10px;
    border-radius: 8px;
    align-self: flex-end;
    margin: 10px;
}

.chat-row{
    margin: 20px;
   flex-direction: column;
}

.active{

}


/*
    STYLE LATO UTENTE
*/


.utent{
    width: 30%;
    height: 100%;
}

.utent-me{
    background-color: lightgray;
    border: 1px solid gray;
    height: 80px;
}

.utent-me img{
    max-width: 60px;
    max-height: 60px;
}

.utent-notifica{
    background-color: rgb(122, 169, 255);
    height: 80px;
    border: 1px solid gray;
}

.box-bell{
    background-color: white;
    border-radius: 100%;
    aspect-ratio: 1,1;
    margin-right: 30px;
   
}

.notifiche-top-text{
    font-size: 13px;
    font-weight: 700;
}

.notifiche-bottom-text{
    font-size: 13px;
    font-weight: 700;
    color: white;
    text-decoration:underline;
}

.utent__search-bar{
    background-color: lightgray;
    border: 1px solid gray;
    height: 40px;
    padding: 5px;
}

.utent-list{
    height: 800px;
    background-color: white;
    border: 1px solid gray;
}


/*
    CARD_UTENT-LIST
*/


.card{
    border: 1px solid gray;
}

.card__img{
    margin-left: 20px;
    height: 80px;
    aspect-ratio: 1,1;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
}

.card-text{
    margin-left: 20px;
}

.utent-me .name-utent{
    margin-right: 170px;
    font-size: 15px;
}

.name-utent{
    font-weight: 700;
    font-size: 25px;
}

.last-mex{
    font-size: 15px;
    color: lightgrey;
}


/*
    STYLE LATO CHAT
*/


.chat{
    width: 70%;
    height: 100%;
}

.chat-name{
    height: 80px;
    background-color: lightgray;
    border: 1px solid gray;
}

.chat-body{
    background-image: url(../img/mine.jpg);
    height: 840px;
    object-fit: cover;
    border: 1px solid gray;
}

.chat-body_container{
    max-width: 700px;
    height: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.chat-message{
    height: 80px;
    background-color: rgb(244, 244, 244);
    border: 1px solid gray;
}

.writh-mex{
    height: 60%;
    width: 60%;
    border-radius: 10px;
    border: none;
}